.square {
    width: auto;
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.shadow {
    box-shadow: 10px 10px #ff1271;
}

.img100{
    width: 70px;
    padding: 20px;
}

html{
    background-color: #111;
    color: #ddd;
    font-family: "Courier New", monospace;

    text-align: center;
}

.invisible_link{
    color: #ddd;
    text-decoration: none;
}

h1{
    font-size: 72px;
}

.middle_of_the_page{
    position: fixed;
    top: 30%;
    right: 30%;
}
.halfpage{
    float:left;
    display:inline;width: 49%;
}

.butt {
    color: #000;
    font-family: "Courier New", monospace;
    font-size:xx-large;
    border: 0px;
    background-color: #fff;
    /* height:50px;
    width:50px; */
    cursor:pointer;
 }